<b>SendGrid Inbound Help</b>
The bot uses SendGrid's <a href="https://sendgrid.com/docs/ui/account-and-settings/inbound-parse/">Inbound Parse</a> Webhook to forward inbound emails to Telegram.

<b>Developer Docs</b>
<a href="https://sendgrid.com/docs/for-developers/parsing-email/inbound-email/">Inbound Email Parse Webhook</a>
<a href="https://sendgrid.com/docs/for-developers/parsing-email/setting-up-the-inbound-parse-webhook/">Setting Up The Inbound Parse Webhook</a>

<b>Setup Instructions</b>
1. <a href="https://app.sendgrid.com">Log In</a> to SendGrid.
2. Set Up <a href="https://sendgrid.com/docs/ui/account-and-settings/how-to-set-up-domain-authentication/">Domain Authentication</a>
3. Add DNS MX record.
4. Go to Settings > Inbound Parse and add a rule.
<a href="https://github.com/maomihz/sendgrid-inbound-bot">Read More</a>

<b>Commands</b>
/start - Start the bot
/help - Display the help message
