<b>SendGrid Inbound Bot</b>

Forward SendGrid emails to Telegram.
No need to pay for mail servers!

Check /help for instructions.

Learn More:
<a href="https://sendgrid.com/docs/for-developers/parsing-email/setting-up-the-inbound-parse-webhook/">Setting Up The Inbound Parse Webhook</a>
